* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  background-color: rgb(54, 47, 47);
}
main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
}
.tip {
  background-color: royalblue;
  border-radius: 15px;
  padding-bottom: 20px;
  margin: 0 5px;
}
.tip-title {
  padding: 10px 2rem;
  text-align: center;
  color: #fff;
}
.tip-body {
  background-color: wheat;
  padding: 1rem;
}
.input {
  margin-left: 3rem;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid silver;
}
.tip-group {
  padding: 10px;
  line-height: 30px;
}
.prefix {
  background-color: white;
  padding: 5px;
  border-radius: 50%;
}
.btn-calculate {
  text-transform: uppercase;
  padding: 10px;
  background-color: tomato;
  border: 0;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  margin: 0 auto;
  display: block;
  transition: all 0.2s ease-out;
}
.btn-calculate:hover,
.btn-calculate:focus {
  box-shadow: 0 0 5px tomato;
}
.tip-result {
  font-family: "Roboto", sans-serif;
  text-align: center;
}
